<ion-header>

  <ion-navbar>
    <ion-title>interfaceComponents</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col>
      <h2>ActionSheet</h2>
      <button ion-button (click)="presentActionSheet()">
        ActionSheet
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h2>Badge</h2>
      <ion-badge item-end>260k</ion-badge>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h2>DatePicker</h2>
      <ion-item no-lines>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>


</ion-content>